.contenedorPadre{
    width: 800px;
    padding: 20px;
    margin: 15px auto;
}
.contenedorPadre form{
    padding: 15px;
    border: black solid 3px;
    display: block;
    margin-bottom: 15 px;
}
.contenedorPadre form input{
    display: block;
    padding: 15px;
}